/* Add your global CSS (i.e., code that is project-specific and not part of any app) here. */


/*
body {
  padding: 15px 20px;
}

#clickme {
  background-color: #eeeeee;
  border: 1px solid black;
  padding: 3px;
}

#footer {
  clear: both;
} */
body {

    background: url(logo_hand_lightgray.488x600.png) bottom left no-repeat;
    background-attachment:fixed;
    height: 100%;
}




a.adopta, a.adopta:hover { text-decoration: none;  font-size: 1.2em; }

.animal_details h1 { font-size: 40px; margin-bottom:5px;}
.animal_details ul, ul.animal_list { list-style-type: none }
.animal_details ul li, ul.animal_list li { margin-left: 0; }
.animal_details ul li { font-size: 1.3em; }

div.animal_photo, #disqus_thread { background: #E5ECF9;border: #D7E5ED; border: 1px solid #c5cce9;}

div.animal_photo { padding: 2em; }

div.animal_photo img { margin: 0 auto; display:block; }


/*div.animal_mini */


div.animal_desc_mini a { font-weight: bold; font-size: 1.4em;  }

#disqus_thread { padding:1em; }

div.help h2 { margin:30px 0; text-align: center; }


a,a:visited { text-decoration: none; color: #4040B0; }
a:hover { text-decoration: underline }

#menu a.adopta:hover { color: #4040B0; }
#menu a, #menu a:visited {
    font-size: 2em;
    padding-right: 8px; color: #ccc; font-weight: bold; }
#menu a:hover  { color: #e8c42d; }
body.dogs #menu a.dogs, body.cats #menu a.cats, body.other #menu a.other { color: #e8c42d; }

#content h1 { color: #381d7a; }

#admin_links  { opacity: 0.2; text-align:right; }
#admin_links:hover { opacity: 0.5 }

div.animal_mini { clear:both; }


div.lbox {
    background: #e6e6e6;
    border: 1px solid #c7c7c7;
}

div.home_row_1 {
    height:520px;
    margin: 20px 0;
}

div.home_row_2 { margin: 20px 0; }

div.home_row_2 div.content_box { background: #e6e6e6; height: 320px;}
div.home_row_2 h1 { /* background: #e6e6e6; */ border-bottom: 2px solid #a000a0; color: #a000a0; }

#footer { text-align: center; }
#footer a { border-right: 1px solid #aaa; padding: 0 5px; }

#main_carousel li img {
    width:700px; height:520px; z-index: 1;
    position:relative;
    top:0;
    left:0;
}

#main_carousel div.carousel_item {
    width:700px;
    height:520px;
    overflow:hidden;
}

#main_carousel div.caption {
    width: 614px;
    color:white; position:relative; bottom:90px; z-index:3; height:90px;
    left: 0;
    margin: 0 40px;
}

#main_carousel div.caption h1, #main_carousel div.caption p { color: white; padding-top:0; margin-bottom:1px; text-align:left; }

#main_carousel div.caption_bkg {
    width:700px;
    color:white; position:absolute; bottom:0px; z-index:2; height:90px; background:#000;
    opacity:0.5;
    -moz-opacity:0.5;
    filter:alpha(opacity=0.5);
}

#adoptable_carousel div.adoptable { width: 220px; }
#adoptable_carousel div.adoptable table { width: 194px; padding: 0 10px; margin: 0 auto; }
#adoptable_carousel div.adoptable table td { padding: 0 4px; }
#adoptable_carousel div.adoptable p { margin-bottom: 2px; }
#adoptable_carousel p.adoptable_name { font-size: 1.4em; text-align: center; }


#donate-mini input[type="submit"] { height: 28px; }
#donate-amount { width: 3em; font-size:1.4em;  padding: 0 4px }

div.col_right h3 { margin-bottom: 4px; }