{% include "_social_media.html" %}
<div class="clear"></div>
{% block footer_links %}
<div>
    <a href="#home">Home</a>
    <a href="#contact-us">Contact Us</a>
    <a href="#employment-opportunities">Employment Opportunities</a>
    <a href="#privacy-policy" style="border:0">Privacy Policy</a>
</div>
{% endblock footer_links %}
<div class="contact_information">
    <span>Nebraska Humane Society</span><br/>
    <span> 8929 Fort Street | Omaha, Nebraska 68134</span><br/>
    <span>T: (402) 444-7800 | F: (402) 546-1476 </span>
</div>