<div class="sbuttons_32">
    <a href="http://friendfeed.com/nehumanesociety" id="button_friendfeed_32" title="FriendFeed"></a>
    <a href="http://twitter.com/nehumanesociety" id="button_twitter_32" title="Twitter"></a>
    <a href="http://www.facebook.com/NebraskaHumaneSociety" id="button_facebook_32" title="Facebook"></a>
    <a href="http://www.flickr.com/photos/nehumanesociety" id="button_flickr_32" title="Flickr"></a>
    <a href="http://www.youtube.com/user/nehumanesociety" id="button_youtube_32" title="YouTube"></a>
    <a href="http://linkedin.com" id="button_linkedin_32" title="LinkedIn"></a>
    <a href="https://secure3.convio.net/nhs/site/Donation2?idb=1082884796&df_id=1720&1720.donation=form1" id="button_heart_32" title="Donate"></a>
</div>