


<div class="grid_7">
    <h1><a href="{{ object.get_absolute_url }}">{{ object.name|capfirst }}</a></h1>
    <ul class="animal_details" style="list-style-type: none">
<li>Breed: {{ object.breed }}</li>
<li>Main Color: {{ object.main_color }}</li>
<li>Age: {{ object.age_str }}</li>
<li>Gender: {{ object.gender }}</li>
<li>Spayed or Neutered: {{ object.spayed_or_neutered }}</li>
<li>Brought to Shelter: {{ object.brought_to_shelter }}</li>
<li style="font-style:italic">Last Updated: <a href="{{ object.petharbor_url|default:"http://petharbor.com" }}">{{ object.last_checked|default_if_none:"Not Sure" }}</a></li>
    </ul>

<div class="clear"></div>
<div class="help" style="">
<h2 class="help_me">Help me find a good home?</h2>
<div style="width:70px; margin: 1em auto 0 auto"><img src="{{ MEDIA_URL }}nebhs/arrow_down.png" width="70""/></div>
<div style="width:256px; margin:1em auto 0 auto"><a style="text-align:center" class="a2a_dd" href="http://www.addtoany.com/share_save?linkname={{ page_title|escape }}&amp;linkurl=http://{{ request.META.HTTP_HOST }}{{ object.get_absolute_url|escape }}"><img src="http://static.addtoany.com/buttons/share_save_256_24.png" width="256" height="24" border="0" alt="Share/Bookmark"/></a><script type="text/javascript">a2a_linkname="{{ page_title }}";a2a_linkurl=window.location;a2a_color_main="D7E5ED";a2a_color_border="AECADB";a2a_color_link_text="333333";a2a_color_link_text_hover="333333";</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script></div>

<!-- <h2>Donate For {{ object.name|capfirst }} </h2> -->
</div>
</div>

<div class="grid_8">
    {% if object.picture %}
        <img src="{{ object.picture.image_url }}" />
        <p class="description pullquote">{{ object.description }}</p>
    {% else %}
    <div class="animal_photo">
        <p style="text-align: center; width: 100%; font-size: 1.2em">We don't have a photo for <strong>{{ object.name|capfirst }}</strong>, yet</span>
        <p class="description pullquote" style="background: white; padding: 1em">{{ object.description }}</p>
    </div>
    {% endif %}

<script type="text/javascript">
{% if debug %}var disqus_developer = 1;{% endif %}
var disqus_url = "http://{{ request.META.HTTP_HOST }}{{ object.get_absolute_url|escape }}";
//var disqus_title
//var disquis_message
//var disqus_def_name

</script>
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/nhsadoptions/embed.js"></script><noscript><a href="http://disqus.com/forums/nhsadoptions/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>

