<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
      lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <title>{% block title %}{% endblock %} - Nebraska Humane Society</title>
        {% block css %}
        <link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
        <link rel="stylesheet" type="text/css"  media="print" href="{{ MEDIA_URL }}combined-print-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
        <!--[if IE]>
          <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}ie.css">
        <![endif]-->
        {% endblock %}

        {% block js %}
        <script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
        {% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.clearonfocus').defaultValue();
                
                hand_bkg = $('<div id="hand_bkg" class="hand_bkg"></div>');
                hand_bkg.appendTo($('body'));
            });
        </script>


        {% block extra-head %}{% endblock %}
    </head>

    <body class="{% block body-class %}{% endblock %}" id="{% block body-id %}{% endblock %}">
        <div class="container_16">
            {% block header %}

            <div id="header" class="">
                <div class="grid_2" id="logo">
                    <a name="top" alt="Nebraska Humane Society" href="/"><img src="{{ MEDIA_URL }}nebhs/img/logo-100x91.png" width="100px" height="91px" alt="The Nebraska Humane Society" /></a>
                </div>

                <div id="shortmenu" class="grid_4 prefix_10">
                    <!---<a href="/">Home</a>-->
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                    <a href="#login">Login</a>

                </div>
                <div class="clear"></div>
                <div class="grid_10 push_3" id="menu" >
                    {% block mainmenu %}
                    <!--<a href="/"><img src="{{ MEDIA_URL }}global/logo.png" alt="" /></a>-->
                    <ul>
                        <li><a href="/adopt/">Adopt</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="#volunteer">Volunteer</a></li>
                        <li><a href="/programs/">Programs</a></li>
                        <li><a href="#laws">Laws</a></li>
                        <li><a href="#wildlife">Wildlife</a></li>
                        <li><a href="#pet-shop">Pet Shop</a></li>

                        <li><form id="search" action="POST" action="#search">
                            <input id="search_form" class="clearonfocus {initial:'Search...'}" name="query"></input>
                        </form></li>

                    <!--
                    <a class="adopta" name="top">Adopt a:</a>
                    <a href="{% url nebhs.views.list_animals category="cats" %}" class="cats">Cat</a>
                    <a href="{% url nebhs.views.list_animals category="dogs" %}" class="dogs">Dog</a>
                    <a href="{% url nebhs.views.list_animals category="other" %}" class="other">Other</a>
                    -->
                    </ul>
                    {% endblock mainmenu %}
                </div>
            </div>

            {% endblock %}
            <div class="clear"></div>
            <div id="content" class="column container grid_16">
                {% block content-header %}
                {% if error %}<div class="error">{{ error }}</div>{% endif %}
                {% if info %}<div class="info">{{ info }}</div>{% endif %}
                {% if messages %}
                {% for message in messages %}
                <div class="info">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
            <div class="clear"></div>
            <div id="footer" class="grid_16" style="margin-top:5em">
                <div id="site_actions">

                    <a href="#print-this">Print This Page</a>
                    <a style="text-align:center" class="a2a_dd" href="http://www.addtoany.com/share_save?linkname={{ page_title|escape }}&amp;linkurl=http://{{ request.META.HTTP_HOST }}{{ object.get_absolute_url|escape }}">
                    <img src="http://static.addtoany.com/buttons/favicon.png" width="16" height="16" border="0" alt="Share/Bookmark"/>Share This Page</a>
                    <script type="text/javascript">
                        a2a_linkname="{{ page_title }}";
                        a2a_linkurl=window.location;
                        a2a_color_main="D7E5ED";
                        a2a_color_border="AECADB";
                        a2a_color_link_text="333333";
                        a2a_color_link_text_hover="333333";
                    </script>
                    <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
                    <a href="#email-this">Email This Page</a>

                </div>
                <div class="contact_information">
                    <span>Nebraska Humane Society</span><br/>
                    <span> 8929 Fort Street | Omaha, Nebraska 68134</span><br/>
                    <span>T: (402) 444-7800 | F: (402) 546-1476 </span>
                </div>
                <div>
                    <a href="#home">Home</a>
                    <a href="#contact-us">Contact Us</a>
                    <a href="#employment-opportunities">Employment Opportunities</a>
                    <a href="#privacy-policy">Privacy Policy</a>
                </div>


                <div id="admin_links">
                    <a href="/admin/">Admin interface</a>

                    {% if user.is_authenticated %}
                    Welcome, {{ user.username }}!
                    <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
                    {% else %}
                    <a href="{% url django.contrib.auth.views.login %}">Login</a>
                    <a href="{% url registration.views.register %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="donate_fixed" onclick="javascript:window.open('https://secure3.convio.net/nhs/site/Donation2?idb=1082884796&df_id=1720&1720.donation=form1')"></div>
    </body>
</html>
