{% extends "base.html" %}
{% block extra-head %}
<script type="text/html" id="adoptable_tmpl">
    /// TODO: prepend server url to img_uri
        <![CDATA[
                <li>
                <div class="adoptable">
                <a href="<%= this.uri %>"><img src="<%= this.img_uri %>" alt="<%= this.name %>"></img></a>
                <p class="adoptable_name"><a href="<%= this.uri %>"><%= this.name %></a></p>
                <table style="width:200px">
                <tr><td>Breed</td><td><%= this.breed ? this.breed : "Unknown" %></td></tr>
                <tr><td>Main Color</td><td><%= this.main_color ? this.main_color : "Unknown" %></td></tr>
                <tr><td>Age</td><td><%= this.age ? this.age : "Unknown" %></td></tr>
                <tr><td>Gender</td><td><%= this.gender ? this.gender : "Unknown" %></td></tr>
                <tr><td>Brought to Shelter</td><td><%= this.brought_to_shelter ? this.brought_to_shelter : "Unknown" %></td></tr>
                </table>
                </div>
                </li>
            ]]>
</script>
<script type="text/javascript">
    /// TODO: Graceful fallback
    /// Add rounded corners
    
    $(function() {
        $("div.rounded").corner("10px");
    });


    /// Setup carousel
    function maincarousel_initCallback(carousel)
    {
        // Disable autoscrolling if the user clicks the prev or next button.
        carousel.buttonNext.bind('click', function() {
            carousel.startAuto(0);
        });

        carousel.buttonPrev.bind('click', function() {
            carousel.startAuto(0);
        });

        // Pause autoscrolling if the user moves with the cursor over the clip.
        carousel.clip.hover(function() {
            carousel.stopAuto();
        }, function() {
            carousel.startAuto();
        });
    };


    $(function() {
        // Add the transparent caption background
        $('div.carousel_item').append($('<div class="caption_bkg">&nbsp;</div>'));
        $('#main_carousel').jcarousel({
            auto: 5,
            wrap: 'last',
            scroll:1,
            initCallback: maincarousel_initCallback
        });
    });


    /// Load adoptable pets
    $(function() {
        $.getJSON("/adopt/api/animals/json/?&callback=?",
        function(data){
            $.each(data, function(i,item){
                $("#adoptable_tmpl").jqote(item).appendTo("#adoptable_carousel");
            });
            /// TODO: Error handling/Graceful fallback
            $('#adoptable_carousel').jcarousel({
                scroll:1
            });
        });
        
        
    });
</script>

{% endblock extra-head %}
{% block content %}

<div class="home_row_1">
    <div class="grid_12">
        <div class="carousel_content">
            <ul id="main_carousel" class="jcarousel-skin-nhs-main">
                <!-- TODO: Graceful fallback -->
                <li>
                    <a href="#story-1">
                        <div class="carousel_item">
                            <img src="{{ MEDIA_URL}}nebhs/christmas-cat-wallpaper.jpg"></img>
                            <div class="caption">
                                <h1>Holiday Open House</h1>
                                <p>Dec. 5th, 2009 9am-1pm</p>
                                <p>Pointsettias, Wreaths, Garland
                                    and Pictures for Pets</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#story-2">
                        <div class="carousel_item">
                            <img src="{{ MEDIA_URL}}nebhs/christmas-cat-wallpaper.jpg"></img>
                            <div class="caption">
                                <h1>Holiday Open House</h1>
                                <p>Dec. 5th, 2009 9am-1pm</p>
                                <p>Pointsettias, Wreaths, Garland
                                    and Pictures for Pets</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#story-3">
                        <div class="carousel_item">
                            <img src="{{ MEDIA_URL}}nebhs/christmas-cat-wallpaper.jpg"></img>
                            <div class="caption">
                                <h1>Holiday Open House</h1>
                                <p>Dec. 5th, 2009 9am-1pm</p>
                                <p>Pointsettias, Wreaths, Garland
                                    and Pictures for Pets</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid_4">
        <div class="col_right">
            <h3>Adopt</h3>
            <ul id="adoptable_carousel" class="jcarousel-skin-nhs-mini">
                <!-- TODO: Graceful fallback -->

            </ul>
            <div class="greenbox">
            <h3>Donate</h3>
            <form id="donate-mini" name="donate-mini" method="POST" action=".">
                <input id="donate-amount" class="clearonfocus {initial:'$40'}" name="amount" type="text"></input>
                <input type="submit" value="Donate Now"></input>
            </form>
            </div>
            <h3>Join Our Mailing List</h3>
            <form id="mailing-list" name="mailing-list" method="POST" action=".">
                <input id="email-address" class="clearonfocus {initial:'Your Email Address'}" name="email-address" type="text"></input>
                <input type="submit" value="Go"></input>
            </form>
        </div>
    </div>
</div>
<div class="clear"></div>


<div class="home_row_2">
    <div class="grid_4">
        <div class="content_box rounded">
            <h1>Our Services</h1>
        </div>
    </div>

    <div class="grid_4">
        <div class="content_box rounded">
            <h1>Events</h1>
        </div>
    </div>

    <div class="grid_4">
        <div class="content_box rounded">
            <h1>Events</h1>
        </div>
    </div>

    <div class="grid_4">
        <div class="content_box rounded">

        </div>
    </div>
</div>
{% endblock content %}
