{% extends "section_base.html" %}
{% block section_nav %}
<h2>Programs</h2>
<ul>
<li><a href="#foranimals">For Animals</a>
    <ul>
        <li><a href="/adopt/">Adoptions</a></li>
        <li><a href="#fostercare">Foster Care</a></li>
        <li><a href="#MannersNMore">Manners 'N More</a></li>
        <li><a href="#RainbowBridge">Rainbow Bridge</a></li>
        <li><a href="#SecondChance">Second Chance</a></li>
        <li><a href="#Microchipping">Microchipping</a></li>
        <li><a href="#BoneJour">Bone Jour Day Care</a></li>
    </ul>
</li>
<li><a href="#forkids">For Kids</a>
    <ul>
        <li><a href="#CampKindness">Camp Kindness</a></li>
        <li><a href="#PartyAnimalBirthdays">Party Animal Birthdays</a></li>
        <li><a href="#GirlScouts">Girl Scout Programs</a></li>
        <li><a href="#KidStuff">Kid Stuff Activities</a></li>
        <li><a href="#GroupTours">Group Tours</a></li>
    </ul>
</li>
<li><a href="#forteachers">For Teachers</a>
    <ul>
        <li><a href="#SchoolTours">School Tours</a></li>
        <li><a href="#Curriculum">Curriculum</a></li>
        <li><a href="#Outreach">Outreach</a></li>


    </ul>
</li>
<li><a href="#forcommunity">For Community</a>
    <ul>
        <li><a href="#SpeakersBureau">Speaker's Bureau</a></li>
        <li><a href="#ProjectPetSafe">Project Pet Safe</a></li>
        <li><a href="#MannersNMore">Manners 'N More</a></li>
        <li><a href="#RainbowBridge">Rainbow Bridge</a></li>
        <li><a href="#PetLossSupportGroup">Pet Loss Support Group</a></li>
        <li><a href="#OffsiteAdoptions">Offsite Adoptions</a></li>
        <li><a href="#BoneJour">Bone Jour Dog Daycare</a></li>
    </ul>

</li>
<li><a href="#forseniors">For Seniors</a>
    <ul>
        <li><a href="#Animeals">Animeals</a></li>
        <li><a href="#ProjectPETS">Project PETS</a></li>
    </ul>
</li>

<li><a href="#calender">Events</a>
    <ul>
        <li><a href="#Calendar">Calendar</a></li>
        <li><a href="#SpecialEvents">Special Events</a></li>
    </ul>
</li>
</ul>
{% endblock section_nav %}
