{% extends "section_base.html" %}
{% block section_nav %}
<h2>Our Services</h2>
<ul>
    <li><a href="#AnimalControl">Animal Control</a></li>
    <li><a href="#PetCremation">Rainbow Bridge</a></li>
    <li><a href="#MannersNMore">Manners N' More</a></li>
    <li><a href="#BoneJour">Bone Jour Dog Daycare</a></li>
</ul>

<h3>Programs For</h3>

<ul>
    <li><a href="#ForAnimals">Animals</a></li>
    <li><a href="#ForKids">Kids</a></li>
    <li><a href="#ForTeachers">Teachers</a></li>
    <li><a href="#ForCommunity">The Community</a></li>
    <li><a href="#Seniors">Seniors</a></li>
</ul>
{% endblock section_nav %}
