.jcarousel-skin-nhs-mini .jcarousel-container {
    /*-moz-border-radius: 10px;*/
    /* background: #F0F6F9;
    border: 1px solid #346F97; */
}

.jcarousel-skin-nhs-mini .jcarousel-container li {
    margin-left: 0;
}

.jcarousel-skin-nhs-mini .jcarousel-container-horizontal,
.jcarousel-skin-nhs-mini .jcarousel-clip-horizontal,
.jcarousel-skin-nhs-mini .jcarousel-item
{
    width: 220px;
    padding: 0;
    height: 350px;
}

.jcarousel-skin-nhs-mini .jcarousel-item-horizontal {
    margin-right: 0px;
}

.jcarousel-skin-nhs-mini .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */

 .jcarousel-skin-nhs-mini .jcarousel-next-horizontal,
 .jcarousel-skin-nhs-mini .jcarousel-prev-horizontal {
    position: absolute;
    top: 310px;
    width: 32px;
    height: 40px;
    cursor: pointer;
 }
.jcarousel-skin-nhs-mini .jcarousel-next-horizontal {

    right: 5px;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
    opacity:0.5;
}

.jcarousel-skin-nhs-mini .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-nhs-mini .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-nhs-mini .jcarousel-next-disabled-horizontal,
.jcarousel-skin-nhs-mini .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-nhs-mini .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-nhs-mini .jcarousel-prev-horizontal {
    left: 5px;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-nhs-mini .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-nhs-mini .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-nhs-mini .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-nhs-mini .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-nhs-mini .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

